body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: goldenrod;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: 600;
}

/* NAV */
.nav {
  text-align: center;
  margin: 20px;
}

/* DONATE BUTTON */
.donate-btn {
  background: linear-gradient(45deg, green);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

.donate-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* CONTENT */
.middle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.visions {
  text-align: center;
}

.photos {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.photos:hover {
  transform: scale(1.05);
}

/*IMAGE MODAL*/
.img-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.img-modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
}

.close-img {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}

/* COPY BUTTON */
.copy-btn {
  margin-top: 10px;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}